---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <Image
      src="https://github.com/Cerchie.png"
      alt="GitHub profile picture"
      width={200}
      height={200}
    />
    </figure>
    <p>Hi there! I believe in a human-centered developer experience and in the joy of learning.</p>
    <p>I'm obssessed with developer tooling.</p>
    <p>Currently living in the Southwestern U.S. and working at <a href="https://developer.confluent.io/">Confluent</a>.</p>
<hr>
      <p><a href="https://github.com/Cerchie">GitHub</a> | <a href="https://www.linkedin.com/in/luciacerchie/">LinkedIn</a> | <a href="https://bsky.app/profile/luciacerchie.bsky.social">Bluesky</a></p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
