---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Lucia Cerchie';
const description = 'Lucia Cerchie\'s personal site.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Welcome! I'm Lucia Cerchie.</h1>
      <p>Have a click around.</p>
<picture class="hero-image-container">
  <source 
  srcset="/assets/robot.png" 
  media="(max-width: 1023px)" 
/>
<img 
src="/assets/robot.png" 
alt="Robot image" 
/>
</picture>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 0.5em;
    color:#2c5131;
    font-family: var(--font-family-serif);
  }

  .home-copy p {
    font-size: 2em;
    color:#2c5131;
    margin-left: .5em;
    margin-top: -.5em;
  }

  .hero-image-container {
    margin-left: 20em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
      font-weight: 100;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
