
<div>

  <img
  src="https://github.com/Cerchie.png"
  alt="Lucia profile pic"/>
  <p>
    Hi, I'm <strong>Lucia</strong>. I'm a software engineer who believes in a human-centered developer experience and in the joy of learning.
    I'm obssessed with developer tooling.
 <a href="https://www.linkedin.com/in/luciacerchie/" target="_blank">LinkedIn</a>
  | <a href="https://github.com/Cerchie" target="_blank">GitHub</a>
    | <a href="https://bsky.app/profile/luciacerchie.bsky.social" target="_blank">Bluesky</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
    color:#2c5131;;
    font-weight: 100;
  }
</style>
